body{
    background-image: linear-gradient(to right,rgba(21, 39, 241, 0.467), #86d6b9)    
}
.form-container{
    width: 100%;
    max-width: 420px;
}
.form-control{
    border-radius: 8px;
}
.form{
  border-radius: 30px;
  background: rgba(255, 255, 255, 0.2); 
  backdrop-filter: blur(10px); 
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
}
.form-head{
    font-weight: 600;
    text-align: center;
}